<footer class="bg-dark row justify-content-center">
  <div
    class="col-12 col-md-4 d-flex justify-content-center align-items-start flex-column p-5"
  >
    <header>
      <h3 class="text-white">Enlaces útiles</h3>
    </header>
    <ul class="m-0 p-0">
      <li>
        <a href="#"><i class="fa-solid fa-phone"></i> +34-675-456-789</a>
      </li>
      <li>
        <a href="#"
          ><i class="fa-solid fa-map"></i> Calle Falsa 123 - Zaragoza</a
        >
      </li>
      <li>
        <a href="#"
          ><i class="fa-solid fa-people-group"></i> Acerca de Nosotros</a
        >
      </li>
      <li class="d-flex gap-3">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
      </li>
    </ul>
  </div>
  <div
    class="col-12 col-md-4 d-flex justify-content-center align-items-start flex-column p-5"
  >
    <header><h3 class="text-white">Enlaces legales y políticas</h3></header>
    <ul class="m-0 p-0">
      <li>
        <a href="#"> Política de privacidad</a>
      </li>
      <li>
        <a href="#">Términos y condiciones</a>
      </li>
      <li>
        <a href="#">Política de cookies</a>
      </li>
      <li>
        <a href="#">Aviso legal</a>
      </li>
    </ul>
  </div>
  <div
    class="col-12 col-md-4 d-flex justify-content-center align-items-start flex-column p-5"
  >
    <header><h3 class="text-white">Información adicional</h3></header>
    <ul class="m-0 p-0">
      <li>
        <a cla href="#"> Preguntas frecuentes</a>
      </li>
      <li>
        <a href="#">Copyright 2023</a>
      </li>
      <li>
        <a href="#">Inicio</a>
      </li>
    </ul>
  </div>
  <hr class="text-white" />
  <span class="text-center text-white"
    ><i class="fa-regular fa-face-laugh-beam"></i>Created by Maxi Cóceres</span
  >
</footer>
