<header>
  <nav
    class="navbar bg-body-tertiary nav-inicio d-flex justify-content-beetween align-items-center flex-wrap px-3"
  >
    <div>
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/images/logo.png"
          alt="logo"
          width="120"
          height="70"
        />
      </a>
    </div>
    <div class="navbar d-flex">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-4">
        <li class="nav-item">
          <a class="nav-link" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#equipo">Equipo</a></li>
        <li class="nav-item"><a class="nav-link" href="">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header>
