.equipo-container {
  min-height: 100vh;
}

.equipo-text h1 {
  font-size: 8em;
  color: var(--colorTitle);
}

.equipo-text p {
  font-size: 1.4em;
  width: 50%;
}

.equipo-img {
  padding: 1em;
}

.equipo-img img {
  width: 100%;
  border-radius: 50%;
}

.equipo-img p {
  font-family: var(--fontFamilyTitle);
  margin-top: 1em;
  font-size: 1.5em;
}

.empleo {
  font-family: var(--fontFamilyText);
}

.card {
  border: none;
  background-color: none;
  color: var(--colorTitle);
}

.redes a {
  text-decoration: none;
  color: var(--colorTitle);
  font-size: 1.5em;
  transition: 0.6s all;
}

.redes a:nth-child(1):hover {
  color: blue;
}

.redes a:nth-child(2):hover {
  color: black;
}

.redes a:nth-child(3):hover {
  color: green;
}
@media screen and (max-width: 1200px) {
  .equipo-text h1 {
    font-size: 4em;
  }

  .equipo-text p {
    width: 100%;
    text-align: start;
    font-size: 1em;
  }
}
