<main class="mt-5 equipo-container container" id="equipo">
  <div
    class="d-flex justify-content-center align-items-center text-center flex-column equipo-text"
  >
    <h1>Nuestro Equipo</h1>
    <p>
      Un equipo talentoso y apasionado que combina la creatividad y la
      experiencia para ofrecerte resultados excepcionales
    </p>
  </div>

  <div class="row w-100 m-0 fle-wrap">
    <div
      class="col-6 col-lg-2 equipo-img d-flex justify-content-center align-items-center"
      *ngFor="let empleado of empleados; let indice = index"
    >
      <div class="card" style="width: 14em">
        <img
          src="{{ empleado.picture.large }}"
          class="card-img-top p-2"
          alt="..."
        />
        <div class="card-body text-center">
          <p
            class="card-title m-0 d-flex justify-content-center align-items-center gap-1"
          >
            {{ empleado.name.first }}
            <span><i class="{{ empleos[indice].icono }}"></i></span>
          </p>
          <span class="card-text empleo"> {{ empleos[indice].empleo }}</span>
          <div
            class="redes d-flex justify-content-center align-items-center gap-3"
          >
            <!-- Aca se haria en el componente agregarlo en el array su respectivo link a sus redes y colocarlo en el href (no lo hago ya que al tener todos # no tendria sentido) -->
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <a href="#"><i class="fa-solid fa-link"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
